<!-- 6. VIEW: POHON DINASTI -->
<section id="view-pohon" class="view-section active">
  <h2 class="imperial-font text-purple mb-4 border-bottom pb-2 text-center">Visualisasi Silsilah Dinasti Bizantium
  </h2>
  <p class="text-secondary text-center mb-5">Bagan interaktif di bawah ini menunjukkan urutan kronologis dan
    hubungan faksi antar dinasti di Kekaisaran Romawi Timur. Klik pada salah satu dinasti untuk melihat profil
    mendalam.</p>

  <div class="tree-container">
    <div id="dynasty-tree-view">
      <!-- Will be rendered dynamically by JS -->
    </div>
  </div>
</section>
